<!-- <div *ngIf="shouldSayHello" class="hello-world">Hello World</div> -->

<!-- Converted Element-->
<!-- <ng-template [ngIf]="shouldSayHello">
    <div class="hello-world">Hello World</div>
</ng-template> -->

<!-- Element 2 -->
<!-- <ng-template *ngIf="shouldSayHello">Hello World</ng-template>

  <ng-template *ngIf="shouldSayHello">
    <ng-template>Hello World</ng-template>
  </ng-template> -->
<!-- 
<div *ngFor="let item of items">
    <div *ngIf="item.id">{{item.name}}</div>
</div> -->

<!-- <ng-container *ngFor="let item of items">
    <div *ngIf="item.id">{{item.name}}</div>
</ng-container> -->

<ng-template #logoImage>
    <div>
        <img class="imageClass" [src]="imgUrl"/>
    </div>
</ng-template>

<div>
    <ng-container *ngTemplateOutlet="logoImage"></ng-container>
</div>
<div class="footer">
    <ng-container *ngTemplateOutlet="logoImage"></ng-container>
</div>